[submodule "pack/vim-colors-solarized"]
	path = pack/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim-plug"]
	path = vim-plug
	url = git@github.com:junegunn/vim-plug.git
